# Application Settings
APPLICATION_HOST=0.0.0.0
APPLICATION_NAME=Ms Image Service
APPLICATION_PORT=8000

# Environment
ENV=dev

# Logging
GUNICORN_ERROR_LOG_PATH=./logs/gunicorn_error.log
LOG_PATH=./logs/

# MongoDB (if needed)
MONGO_AUTH_SOURCE=admin
MONGO_DB=ms_image
MONGO_HOST=localhost
MONGO_PASSWORD=password
MONGO_PORT=27017
MONGO_USER=admin

# Primary Database
MYSQL_DB=ms_image
MYSQL_HOST=localhost
MYSQL_PW=password
MYSQL_USER=root
MYSQL_PORT=3306

# MS_HD Database (HD服务集成，如果需要)
MYSQL_HD_DB=ms_hd
MYSQL_HD_HOST=localhost
MYSQL_HD_PW=password
MYSQL_HD_USER=root
MYSQL_HD_PORT=3306

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
ALGORITHM=RS256
SECRET_KEY=your_secret_key
API_PRIVATE_KEY=your_private_key

# Auth
AUTH_DOMAIN=localhost

# RabbitMQ (if needed)
RABBITMQ_HOST=localhost
RABBITMQ_PASSWORD=password
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_VIRTUAL_HOST=/

# Project Environment
PROJECT_ENV=development